
html, body{
    width: 100%;
    height: 100%;
}

.nav{
padding-top: 30px;
display: flex;
justify-content: center;
}

.nav-item{
    color: #16a085;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    margin-right: 70px;
    letter-spacing: 1px;
}



    .img{
        background-image: url(img/Simple_photo.png);
        margin-top: 35px;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;       
    }

    .content{
        background-color: #f5f6f7;
        padding-bottom: 90px;
        padding-top: 60px;
    }

    .content h1{
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 22px;
        text-align: center;
        letter-spacing: 2px;
        
    }

        .content p {
            font-family: 'Roboto', sans-serif;
            color: #373737;
            font-size: 16px;
            text-align: center;
            width: 1059px;
            margin-left: 210px;
            line-height: 1.625;
            letter-spacing: 1px;
            font-weight: 900;
            
        }


        .wrapper{
            display: flex;
            justify-content: center;                               
            
        }

        .button{
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            text-decoration: none;
            color: white;
            background-color: #16a085;
            border-radius: 5px;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 2px;
            font-size: 10px;                       
        }

        .footer{
            height: 109px;
        }

        .footer p{
            font-family: 'Roboto', sans-serif;
            color: #373737;
            font-size: 16px;
            letter-spacing: 1px;
            text-align: right;
            font-weight: 900;
            margin-right: 100px;
            margin-top: -17px;
            
            
        }


        .footer_menu{
            display: flex;
            justify-content: left;
            margin-top: 40px;
            margin-left: 105px;
                                              
        }

        .footer-item{
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 16px;
            letter-spacing: 1px;
            color: #373737;
            border-right: 2px solid rgb(22, 160, 134);
            padding: 0 10px;
        }
        
        .footer-item:last-child{
          border-right: none;
        }
       

